  <% include ../header.html %>
      <style>
        .jumbotron {
	        margin: 10px 0;
	        text-align: center;
	    }
	    
	    #search_controls {
	      margin: 2px 0px;
	    }
	    
		span.describe {
		  display:block;
		  height: 60px;
          width: 200px;
		  text-overflow: ellipsis;
		  overflow:hidden;
		}
		
		a.btn-small {
		  margin-bottom: 4px;
		}
		
		.modal{
		  width: 380px;
		}
		
		form#edit {
		  margin: 1px
		}
		
		.play_controls {
		  margin-left:2px;
		}
		
		.play_controls input {
		  margin: 2px 3px;
		}
		
		form#edit .control-group {
		  margin-bottom: 2px;
		}
		
		form#edit .control-label {
		  width: 60px;
		}
		
		.edit-line {
		  margin-left: 80px;
		}
		
		.checkbox.inline {
		  width: 80px;
		}
		
		#add_line {
		  float: right;
		  margin-right: 130px;
		}
		
      </style>
    </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <% include ../navbar.html %>
  
    <form action="/home/line/search" class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="name">名称</label>
	    <div class="controls">
	      <input type="text" id="name" placeholder="活动名称">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="start_time">开始</label>
	    <div class="controls">
	      <input type="text" id="start_time" placeholder="开始时间">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="end_time">结束</label>
	    <div class="controls">
	      <input type="text" id="end_time" placeholder="结束时间">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="activity_id">Id范围</label>
	    <div class="controls">
	      <input type="text" id="inputMinId" class="span1" placeholder="0">
	      &#151;
	      <input type="text" id="inputMaxId" class="span1" placeholder="20">
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="button" id="search" class="btn btn-primary">查询</button>
	      <a id="add_line" role="button" data-toggle="modal" class="btn btn-large btn-primary editModal" href="#editModal">增加</a>&nbsp;&nbsp; 
	    </div>
	  </div>
	</form>
	
    <div style="width: 200px; margin: 0px 40%;"  class="alert fade in">
       <button data-dismiss="alert" class="close" type="button">×</button>
       <strong></strong>
    </div>
    <div class="container">
      <hr>
      <div class="row">
        <div class="span12">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th width="2%">Id </th>
                  <th width="8%">名称</th>
                  <th width="100px">活动内容</th>
                  <th width="10%">开始</th>
                  <th width="10%">结束</th>
                  <th width="10%">活动地址</th>
                  <th width="5%">经典</th>
                  <th width="15%">操作</th>
                </tr>
              </thead>
              <tbody>
               <% results.forEach(function(result, index) { %>
	              <tr>
	                <td><%= result.activity_id %></td>
	                <td><%= result.name %></td>
	                <td><span class="describe"><%= result.content %></span></td>
	                <td><%= result.start_time %></td>
	                <td><%= result.end_time %></td>
	                <td><%= result.address %></td>
	                <td><%= result.classic_flag %></td>
	                <td>
					  <a role="button" data-toggle="modal" class="btn btn-small btn-success editModal" href="#editModal">修改</a>&nbsp;&nbsp; 
	                  <a role="button" data-toggle="modal" class="btn btn-small btn-danger delModal" href="#delModal">删除</a>
	                </td>
	              </tr>
	            <%}) %>
                
              </tbody>
            </table>
        </div>
      </div>
      
      <div class="jumbotron">
        <a class="btn btn-inverse" href="javascript:void(0);" style="display: none;">上一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-inverse" href="javascript:void(0);" style="display: none;">下一页</a>
      </div>
      
      <input type="hidden" id="operate_id" value="" />
      
      <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h3 id="editModalLabel">路线信息</h3>
		</div>
		<div class="modal-body">
		  <form id="edit" class="form-horizontal">
			<div class="control-group">
			  <label class="control-label" for="edit_name">名称</label>
			  <div class="edit-line" >
			    <input type="text" id="edit_name" >
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="edit_classic_flag">经典</label>
			  <div class="edit-line" >
			    <select id="edit_classic_flag" class="span1">
				  <option value="1">是</option>
				  <option value="0">否</option>
				</select>
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="edit_score">评分</label>
			  <div class="edit-line" >
			    <input type="text" id="edit_score" class="input-mini">
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="edit_hot">热度</label>
			  <div class="edit-line" >
			    <input type="text" id="edit_hot" class="input-mini">
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="edit_price" >价格</label>
			  <div class="edit-line" >
			    <input type="text" id="edit_price" class="input-mini">
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="edit_price_info">价格信息</label>
			  <div class="edit-line" >
			    <textarea id="edit_price_info" rows="3" ></textarea>
			  </div>
			</div>
			<div class="control-group">
			  <label class="control-label" for="edit_pic">图片路径</label>
			  <div class="edit-line" >
			    <textarea id="edit_pic" rows="3" ></textarea>
			  </div>
			</div>
	      </form>
		</div>
		<div class="modal-footer">
		  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		  <button id="edit_save" class="btn btn-primary" >保存</button>
		</div>
	  </div>
	  
	  <div id="delModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="delModalLabel">确定要删除该记录吗?</h3>
		</div>
		<div class="modal-footer">
		  <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
		  <button id="delete" class="btn btn-primary">确定</button>
		</div>
	  </div>
	  
	  <div id="characteristicModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h3 id="editModalLabel">经典内容</h3>
		</div>
		<div class="modal-body">
		  <form id="editCharacteristic" class="form-horizontal">
	      </form>
		</div>
		<div class="modal-footer">
		  <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		  <button id="edit_characteristic_save" class="btn btn-primary" >保存</button>
		</div>
	  </div>

    <hr>
	
	<% include ../footer.html %>
	<script>
	  $(document).ready(function(){
	    activityNav(3);
		$(".alert").hide();
		
		//用于计算翻页次数
		var loadPage = 0;
		var loadCount = 0;
		if('<%=results%>') {
		  loadCount = '<%=results.length%>' - 0;
		}
		
	    /*
		function checkScroll() {
		  if (!lowEnough()) return pollScroll();

		  //一页最多显示100条记录
		  if(Math.ceil(loadCount/20) > 4) {
		    $('.jumbotron a:eq(1)').show("slow");
		    //第一页时候，不能上翻
		    if(loadPage > 0) {
		      $('.jumbotron a:eq(0)').show("slow");
		    } else {
		      $('.jumbotron a:eq(0)').hide("fast");
		    }
		    return;	
		  }
		    
          $.ajax({
              data: getParamas(),
              url: '/home/line/scrolload',
              type: 'post',
              dataType: 'json',
              cache: false,
              timeout: 5000,
              success: function(response){
               	$("table.table-striped tbody").append(addResponseData(response));
                loadCount = loadCount + response.length;
              	//如果返回的不是20条，并且不是第一页，只显示“上一页”
               	if(response.length < 20 && loadPage != 0) {
            	  $('.jumbotron a:eq(0)').show("slow");
                  return;
                }
                pollScroll();
              },
              error: function(jqXHR, textStatus, errorThrown){
                //alert('加载数据失败： ' + textStatus + " " + errorThrown);  
              }
            });
            
		  }
		  
		  function pollScroll() {
			setTimeout(checkScroll, 100); 
	      }
		  pollScroll();
		  
		  //点击上一页
		  $('.jumbotron a:eq(0)').click(function() {
			  loadPage--;
			  loadCount = 0;
			  searchPlay(getParamas(), 'up');
		  });
		  //点击下一页
		  $('.jumbotron a:eq(1)').click(function() {
			  loadPage++;
			  loadCount = 0;
			  searchPlay(getParamas(), 'down');
		  });
		  
		  //搜索按钮
          $('#search').click(function() {
        	  loadPage = 0;
			  loadCount = 0;
			  searchPlay(getParamas(), 'search');
          });
		  
          //新增按钮
          $('#add_line').click(function() {
        	  //addOrEdit = "add";
          });
		  
		  //要编辑的那行元素
          var tr;
		  //判断是增加还是修改路线
		  var addOrEdit;
		  //编辑按钮
          $(document).on('click', 'a.editModal, a.delModal', function(e) {
        	  //tr = $(this).parent().parent().parent();
        	  tr = $(this).closest('tr');
        	  $("#operate_id").val($("td:eq(0)", tr).text());
        	  
        	  $("#edit_name").val($("td:eq(1)", tr).text());
        	  $("#edit_classic_flag").val($("td:eq(3)", tr).text());
        	  $("#edit_score").val($("td:eq(4)", tr).text());
        	  $("#edit_hot").val($("td:eq(5)", tr).text());
        	  $("#edit_price").val($("td:eq(6)", tr).text());
        	  $("#edit_price_info").val($("td:eq(7)", tr).text());
        	  $("#edit_pic").val($("td:eq(8) span", tr).text());
          });
		  
          ///新增/编辑保存按钮
          $('#edit_save').click(function() {
        	  
        	  $(this).attr("data-dismiss", "modal");
        	  var paramas = {
        	      edit_id: $.trim($("#operate_id").val()),
        	      edit_name: $.trim($("#edit_name").val()),
        	      edit_classic_flag: $.trim($("#edit_classic_flag").val()),
        	      edit_score: $.trim($("#edit_score").val()),
        	      edit_hot: $.trim($("#edit_hot").val()),
        	      edit_price: $.trim($("#edit_price").val()),
        	      edit_price_info: $.trim($("#edit_price_info").val()),
        	      edit_pic: $.trim($("#edit_pic").val()),
			  }
        	  
        	  //根据operate_id是否有值来判断是新增或修改
        	  if($("#operate_id").val() == "") {
        		  $.ajax({
                      data: paramas,
                      url: '/home/line/add',
                      type: 'post',
                      dataType: 'json',
                      cache: false,
                      timeout: 5000,
                      success: function(response){
                    	if(response.result == "success") {
                    	  var row = {
                    	      'itinerary_id': response.insertId,
                    	      'name': $("#edit_name").val(),
                    	      'itinerary_summary': '',
                    	      'classic_flag': $("#edit_classic_flag").val(),
                    	      'score': $("#edit_score").val(),
                    	      'hot': $("#edit_hot").val(),
                    	      'price': $("#edit_price").val(),
                    	      'price_info': $("#edit_price_info").val(),
                    	      'pic': $("#edit_pic").val(),
                    	      'characteristic': ''
                    	  }
        	              
        	              $("tbody").prepend(getOperateHtml(row));
                    	  operateSuccess("新增路线成功!");
                    	} else {
                    	  operateFailure("新增路线失败!");
                    	}
                      },
                      error: function(jqXHR, textStatus, errorThrown){
                        alert('新增路线失败： ' + textStatus + " " + errorThrown);  
                      }
                  });
        	  } else {
        		  $.ajax({
                      data: paramas,
                      url: '/home/line/edit/' + $("#operate_id").val(),
                      type: 'post',
                      dataType: 'json',
                      cache: false,
                      timeout: 5000,
                      success: function(response){
                    	if(response == "success") {
                    	
                    	  $("td:eq(1)", tr).text($("#edit_name").val());
                    	  $("td:eq(3)", tr).text($("#edit_classic_flag").val())
                    	  $("td:eq(4)", tr).text($("#edit_score").val())
                    	  $("td:eq(5)", tr).text($("#edit_hot").val())
                    	  $("td:eq(6)", tr).text($("#edit_price").val())
                    	  $("td:eq(7)", tr).text($("#edit_price_info").val())
                    	  $("td:eq(8) span", tr).text($("#edit_pic").val())
                    		
                    	  operateSuccess("修改成功!");
                    	} else {
                    	  operateFailure("修改失败!");
                    	}
                      },
                      error: function(jqXHR, textStatus, errorThrown){
                        alert('修改数据失败： ' + textStatus + " " + errorThrown);  
                      }
                  });
        	  }
        	  
          });
          
          //路线概要按钮
          $(document).on('click', '.summary', function(e) {
        	  var id = $(this).closest('tr').find('td:first').text();
        	  var url = '/home/line/' + id + '/summary'
        	  window.open (url, "summarywindow");
          });
          
          //路线经典/特色按钮
          $(document).on('click', '.characteristic', function(e) {
              tr = $(this).closest('tr');
        	  $("#operate_id").val($("td:eq(0)", tr).text());
        	  var characteristicContent = $("td:eq(9)", tr).text();
        	  //已选择的经典信息
        	  var arrContent = characteristicContent.split('&');
        	  
        	  $.ajax({
                data: {},
                url: '/home/line/' + $("td:eq(0)", tr).text() + '/characteristic',
                type: 'post',
                dataType: 'json',
                cache: false,
                timeout: 5000,
                success: function(response){
                	if(response.length <= 0) {
                		operateFailure("没有查询到数据!");
                		return;
                	}
                	var controlGroup = '<div class="control-group">';
                	for(var i = 0; i < response.length; i++) {
                		var result = response[i];
                		if(i % 3 == 0) controlGroup += '</div><div class="control-group">';
                		controlGroup += '<label class="checkbox inline">' +
                		    '<input type="checkbox" id="inlineCheckbox1" value="' + result.name + '">' + result.name +
          		            '</label>';
                	}
                	controlGroup += '</div>';
                	$('#editCharacteristic').html(controlGroup);
                	//将已经选择的经典值选中
                	var showCheckbox = $('input[type=checkbox]', '#editCharacteristic');
                	if(arrContent instanceof Array) {
                		for(var j = 0; j < showCheckbox.size(); j++){
                			for(var k = 0; k < arrContent.length; k++) {
                				//console.log("show!" + showCheckbox[j].value + "!")
                				//console.log("arr!" + arrContent[k] + "!")
	                			if(showCheckbox[j].value == arrContent[k]) {
	                				showCheckbox[j].checked = true;
	                				break;
	                			}
                			}
                		}
                	}
                },
                error: function(jqXHR, textStatus, errorThrown){
                    operateFailure("没有查询到数据!");
                }
	          }); 
          });
          
          //经典信息弹出框点击确认按钮
          $('#edit_characteristic_save').click(function() {
        	  
        	  var characteristic = "";
        	  $(this).attr("data-dismiss", "modal");
        	  //将已经选择的经典值选中
          	  var showCheckbox = $('input[type=checkbox]', '#editCharacteristic');
          	  for(var j = 0; j < showCheckbox.size(); j++){
          		  if(showCheckbox[j].checked) {
          			characteristic += '&' + showCheckbox[j].value;
          		  }
    		  }
          	  if(characteristic.length > 0) characteristic = characteristic.substring(1);
          	
        	  $.ajax({
                  data: {'characteristic': characteristic},
                  url: '/home/line/' + $("td:eq(0)", tr).text() + '/characteristic/update',
                  type: 'post',
                  dataType: 'json',
                  cache: false,
                  timeout: 5000,
                  success: function(response){
                	if(response == "success") {
                	  operateSuccess("更新成功!");
                	  $("td:eq(9)", tr).text(characteristic);
                	} else {
                	  operateFailure("更新失败!");
                	}
                  },
                  error: function(jqXHR, textStatus, errorThrown){
                    alert('更新数据失败： ' + textStatus + " " + errorThrown);  
                  }
              });
          });
          
          //删除弹出框点击确认按钮
          $('#delete').click(function() {
        	  
        	  $(this).attr("data-dismiss", "modal");
        	  $.ajax({
                  data: {},
                  url: '/home/line/del/' + $("#operate_id").val(),
                  type: 'post',
                  dataType: 'json',
                  cache: false,
                  timeout: 5000,
                  success: function(response){
                	if(response == "success") {
                	  operateSuccess("删除成功!");
                      
                      $(tr).remove();
                  	  //减少了一行记录
                  	  loadCount--;
                	} else {
                	  operateFailure("删除失败!");
                	}
                  },
                  error: function(jqXHR, textStatus, errorThrown){
                    alert('删除数据失败： ' + textStatus + " " + errorThrown);  
                  }
              });
          });
		
		  function getParamas() {
			  return {
				  inputName: $.trim($("#inputName").val()),
				  inputSummary: $.trim($("#inputSummary").val()),
				  inputMinId: $.trim($("#inputMinId").val()),
				  inputMaxId: $.trim($("#inputMaxId").val()),
	              loadCount: loadCount,
	              loadPage: loadPage
			  };
		  }
		  //查询景点
		  function searchPlay(params, clicktype) {
			  $.ajax({
	                data: params,
	                url: '/home/line/scrolload',
	                type: 'post',
	                dataType: 'json',
	                cache: false,
	                timeout: 5000,
	                success: function(response){
	                	if(response.length <= 0) {
	                		$("table.table-striped tbody").html("");
	                		return;
	                	}
	                	$("table.table-striped tbody").html(addResponseData(response));
	                    loadCount = loadCount + response.length;
	                    if(clicktype == "down"){
	                    	//如果返回的不是20条，并且不是第一页，只显示“上一页”
		                	if(response.length < 20 && loadPage != 0) {
		                		$('.jumbotron a:eq(0)').show("slow");
		                		$('.jumbotron a:eq(1)').hide("fast");
		                		return;
		                	}
	                    }
	                    //没有查询到数据
	                    if(clicktype == "search") {
	                    	if(response.length < 20) {
		                		$('.jumbotron a:eq(0)').hide();
		                		$('.jumbotron a:eq(1)').hide();
		                		return;
		                	}
	                    }
	                    pollScroll();
	                },
	                error: function(jqXHR, textStatus, errorThrown){
	                    operateFailure("没有查询到数据!");
	                    if(clicktype == "search") {
	                    	$("table.table-striped tbody").html("");
	                    }
	                }
	          }); 
		  }
		  
          function addResponseData(res) {
          	var rowHtml = "";
          	for(var i = 0; i < res.length; i++) {
          		rowHtml += getOperateHtml(res[i]);
          	}
          	return rowHtml;
          }
          
          function getOperateHtml(row) {
        	  var rowHtml = "<tr>" +
        		"<td>" + row.itinerary_id + "</td>" +
          		"<td>" + row.name + "</td>" +
          		"<td><span class='describe'>" + row.itinerary_summary + "</span></td>" +
          		"<td>" + row.classic_flag + "</td>" +
          		"<td>" + row.score + "</td>" +
          		"<td>" + row.hot + "</td>" +
          		"<td>" + row.price + "</td>" +
          		"<td>" + row.price_info + "</td>" +
          		"<td><span class='describe'>" + row.pic + "</span></td>" +
          		"<td>" + row.characteristic + "</td>" +
                "<td>" +
        		"  <div class='btn-group' data-toggle='buttons-radio'> " +
        		"    <a role='button' data-toggle='modal' class='btn btn-small btn-success editModal' href='#editModal'>修改</a>&nbsp;&nbsp; " + 
        		"    <a class='btn btn-small btn-success summary' href='#'>概要</a>&nbsp;&nbsp; " + 
        		"    <a role='button' data-toggle='modal' class='btn btn-small btn-success characteristic' href='#characteristicModal'>特色</a>&nbsp;&nbsp; " + 
        		"  </div> " +
        		"  <a role='button' data-toggle='modal' class='btn btn-small btn-danger delModal' href='#delModal'>删除</a> " +
        		"</td>" + 
          		"</tr>";
          	  return rowHtml;	
          }*/
	  });
	</script>