    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>爱生活、爱分享</p>
        <ul class="footer-links">
          <li class="active">
            <a href="./index.html">Html</a>
          </li>
          <li class="">
            <a href="./getting-started.html">Java</a>
          </li>
          <li class="">
            <a href="./scaffolding.html">DataBase</a>
          </li>
          <li class="">
            <a href="./base-css.html">Javascript</a>
          </li>
          <li class="">
            <a href="./components.html">Android</a>
          </li>
          <li class="">
            <a href="./javascript.html">Linux</a>
          </li>
          <li class="">
            <a href="./customize.html">My Life</a>
          </li>
        </ul>
      </div>
    </footer>