<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="郊游客管理端">
    <meta name="author" content="lifengyong">

    <!-- Le styles -->
    <link href="/libs/bootstrap/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">


