  <% include header.html %>
    </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <% include navbar.html %>
  
    <div class="container">
      <div class="row">
        <div class="span2">
          <img class="marketing-img" src="/images/home/play.png">
	      <h2><a href="/home/play">景点</a></h2>
        </div>
        <div class="span2">
          <img class="marketing-img" src="/images/home/line.png">
	      <h2><a href="/home/line">路线</a></h2>
        </div>
        <div class="span2">
	      <img class="marketing-img" src="/images/home/activity.png">
	      <h2><a href="/home/activity">活动</a></h2>
	    </div>
		<div class="span2">
	      <img class="marketing-img" src="/images/home/promotions.png">
	      <h2><a href="/home/promotions">促销</a></h2>
	    </div>
      </div>
	</div>  

    <hr>
	
	<% include footer.html %>
    
 